.dns-credit {
  margin-top: 40px;
  font-size: 0.9rem;
  color: #333;
}

.dns-credit a {
  text-decoration: none;
  font-weight: bold;
}

.dns-blue {
  color: #006699;
}

.dns-orange {
  color: #FF6600;
}
